<section class="block block-three-column-1">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h3>{{ section.col_1.headline }}</h3>
        <a href="{{ section.col_1.link }}" target="_blank">
          <img src="{{ section.col_1.image }}">
        </a>
      </div>
      <div class="column">
        <h3>{{ section.col_2.headline }}</h3>
        <a href="{{ section.col_2.link }}" target="_blank">
          <img src="{{ section.col_2.image }}">
        </a>
      </div>
      <div class="column">
        <h3>{{ section.col_3.headline }}</h3>
        <a href="{{ section.col_3.link }}" target="_blank">
          <img src="{{ section.col_3.image }}">
        </a>
      </div>            
    </div>
    <div class="columns">
      <div class="column">
        <h3>{{ section.col_4.headline }}</h3>
        <a href="{{ section.col_4.link }}" target="_blank">
          <img src="{{ section.col_4.image }}">
        </a>
      </div>
      <div class="column">
        <h3>{{ section.col_5.headline }}</h3>
        <a href="{{ section.col_5.link }}" target="_blank">
          <img src="{{ section.col_5.image }}">
        </a>
      </div>
      <div class="column">
        <h3>{{ section.col_6.headline }}</h3>
        <a href="{{ section.col_6.link }}" target="_blank">
          <img src="{{ section.col_6.image }}">
        </a>
      </div>            
    </div>
  </div>
</section>